<form action="/search" method="post">
  <textarea name="words" rows="8" cols="40"></textarea>
  <input type="submit">
</form>


<% if @list %>
<p>單字數量：<%= @list.count %></p>

<div class="kk">
  <ul>
    <% @list.each do |word|  %>
      <li><%= word %></li>
    <% end %>
  </ul>

  <ul>
    <% @result.each do |word|  %>
      <li><%= word %></li>
    <% end %>
  </ul>
</div>

<p>Time: <%= @sss %></p>
<% end %>
