<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    *{
      list-style: none;
    }
    .kk{
      display: flex;
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
